/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [OBJECTID]
      ,[STEWARD]
      ,[L_UPDATE]
      ,[EFF_DATE]
      ,[EXP_DATE]
      ,[SEGID]
      ,[STATE_L]
      ,[STATE_R]
      ,[COUNTY_L]
      ,[COUNTY_R]
      ,[MUNI_L]
      ,[MUNI_R]
      ,[L_F_ADD]
      ,[L_T_ADD]
      ,[R_F_ADD]
      ,[R_T_ADD]
      ,[PARITY_L]
      ,[PARITY_R]
      ,[POSTCO_L]
      ,[POSTCO_R]
      ,[ZIP_L]
      ,[ZIP_R]
      ,[ESN_L]
      ,[ESN_R]
      ,[MSAGCO_L]
      ,[MSAGCO_R]
      ,[PRD]
      ,[STP]
      ,[RD]
      ,[STS]
      ,[POD]
      ,[POM]
      ,[SPDLIMIT]
      ,[ONEWAY]
      ,[RDCLASS]
      ,[UPDATEBY]
      ,[LABEL]
      ,[ELEV_F]
      ,[ELEV_T]
      ,[ESN_C]
      ,[SURFACE]
      ,[STATUS]
      ,[TRAVEL]
      ,[LRSKEY]
      ,[UNINC_L]
      ,[UNINC_R]
      ,[EXCEPTION_]
      ,[SUBMIT]
      ,[NOTES]
      ,[COUNTY_BEGIN_MP]
      ,[COUNTY_END_MP]
      ,[STATE_BEGIN_MP]
      ,[STATE_END_MP]
      ,[RAMPS_LRS_KEY]
      ,[NON_STATE_FLIP_FLAG]
      ,[NON_STATE_MILEAGE_FLAG]
      ,[Flip_Flag]
      ,[State_System_LRSKey]
      ,[Non_State_System_LRSKey]
      ,[NON_STATE_BEGIN_MP]
      ,[NON_STATE_END_MP]
      ,[BEG_NODE]
      ,[END_NODE]
      ,[Con_Surface]
      ,[GCID]
      ,[Shape]
      ,[GlobalID]
      ,[created_user]
      ,[created_date]
      ,[last_edited_user]
      ,[last_edited_date]
      ,[KDOT_BEG_LOGMILE]
      ,[KDOT_END_LOGMILE]
      ,[KDOT_LRS_KEY]
      ,[RID]
      ,[FMEAS]
      ,[TMEAS]
      ,[LRS_COUNTY_PRE]
      ,[LRS_URBAN_PRE]
      ,[LRS_ROUTE_PREFIX]
      ,[LRS_ROUTE_SUFFIX]
      ,[LRS_UNIQUE_IDENT]
      ,[LRS_ADMO]
      ,[LRS_SUBCLASS]
      ,[LRS_DIRECTION]
      ,[MILEAGE_COUNTED]
      ,[LRS_ROUTE_NUM]
      ,[KDOT_QA]
      ,[RouteID]
      ,[FromDate]
      ,[ToDate]
      ,[LRS_ROUTE_NUM1]
      ,[LRS_UNIQUE_IDENT1]
      ,[LRS_PRIMARY_DIR]
      ,[SDE_STATE_ID]
  FROM [Conflation].[geo].[RoadCenterlines_evw]
  WHERE LRS_PRIMARY_DIR > 0